body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 20px;
}

#board {
    background-color: black;
    display: block;
    margin: 0 auto;
}

#restart-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
